<div class="container" id="contenedor1">
    <h2 id="testo2">Contratos Laborales</h2>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/contrato.png" class=" card-img-to p " alt=".. . " id="imgs" justify-content-md-center>
            <div class="card-body ">
                <hr>
                <p class="card-text ">Contrato de trabajo a término indefinido</p>
            </div>

        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/contrato.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Contrato de trabajo a término fijo</p>
            </div>

        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/contrato.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Contrato de prácticas laborales</p>
            </div>

        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/contrato.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Contrato de aprendizaje</p>
            </div>

        </div>
        <div class="card" style="width: 12rem" id="card1">
            <img src="img/contrato.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Contrato de aprendizaje</p>
            </div>

        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/contrato.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Contrato por obra o labor</p>
            </div>

        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/contrato.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text "> Contrato ocasional</p>
            </div>
        </div>


        <div class="container" id="contenedor1">
            <h2 id="testo1">Contratos Legales</h2>
        </div>

        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/contrato2.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text "> Contratos de Arrendamiento</p>
            </div>
        </div>

        <div class="container" id="contenedor1">
            <h2 id="testo2">Formatos Legales</h2>
        </div>

        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/poder.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Poderes Notariales</p>
            </div>
        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/poder.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Acuerdos de Confidencialidad (NDA)</p>
            </div>
        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/poder.png" class=" card-img-to p " alt=".. . " id="imgs">

            <div class="card-body ">
                <hr>
                <p class="card-text ">Testamentos y Declaraciones Juradas</p>
            </div>
        </div>
    </div>
</div>
