<div class="container" id="contenedor1">

    <h2 id="testo1">¡Crea fácilmente tus documentos legales!</h2>
    <p id="testo1">Documentos editables en Word o Excel que facilitan el cumplimiento de tus labores diarias con el propósito principal de ahorrarte tiempo de trabajo.</p>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-8">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>
</div>
