#titulo1 {
    text-align-last: center;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align-last: center;
    color: #549aff;
}

#testo1 {
    font-style: normal;
    text-align-last: center;
    color: #737373;
}
