<div class="container" id="contenedor1">
    <h2 id="testo2">Certificados</h2>

</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card" style="width: 14rem;" id="card1">
            <img src="img/certificado.png" class=" card-img-to p " alt=".. . " id="imgs" justify-content-md-center>
            <div class="card-body ">
                <hr>
                <p class="card-text ">Certificación laboral</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;" id="card1">
            <img src="img/certificado.png" class=" card-img-to p " alt=".. . " id="imgs" justify-content-md-center>
            <div class="card-body ">
                <hr>
                <p class="card-text ">Certificación laboral</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;" id="card1">
            <img src="img/certificado.png" class=" card-img-to p " alt=".. . " id="imgs" justify-content-md-center>
            <div class="card-body ">
                <hr>
                <p class="card-text ">Certificación laboral</p>
            </div>
        </div>


        <div class="container" id="contenedor1">
            <h2 id="testo1">Cartas</h2>
        </div>
        <div class="card" style="width: 14rem;" id="card1">
            <img src="img/carta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Carta de autorización de retiro de cesantías</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;" id="card1">
            <img src="img/carta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Carta para notificar vacaciones a un empleado</p>
            </div>
        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/carta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text "> Carta de despido laboral sin justa causa</p>
            </div>
        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/carta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Carta de despido laboral con justa causa</p>
            </div>
        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/carta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Carta de llamado de atención</p>
            </div>

        </div>


        <div class="container" id="contenedor1">
            <h2 id="testo2">Actas</h2>
        </div>

        <div class="card" style="width: 14rem;" id="card1">
            <img src="img/acta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Acta de citación
                </p>
            </div>

        </div>
        <div class="card" style="width: 12rem" id="card1">
            <img src="img/acta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Acta de diligencia de descargos</p>
            </div>

        </div>


        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/acta.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Solicitud de suspensión de contrato de trabajo a Ministerio del trabajo</p>
            </div>

        </div>
        <div class="container" id="contenedor1">
            <h2 id="testo1">Reglamenos</h2>
        </div>
        <div class="card" style="width: 12rem;" id="card1">
            <img src="img/reglamento.png" class=" card-img-to p " alt=".. . " id="imgs">
            <div class="card-body ">
                <hr>
                <p class="card-text ">Reglamento interno de trabajo</p>
            </div>
        </div>





    </div>
